.chat {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: unset;
    overflow-y: scroll;
    height:400px;
    margin-bottom: 15px;
    padding-right: 50px;
    padding-left: 10px;
    width: 100%;
    border:1px solid gray;
}

.chat-background {
    background-color: #f3f8ff;
    height:400px;
    margin-bottom: 15px;
}

.body {
    background-color: #eaf1fd;
}

.chatwrapper {
      float: left;
      width: 750px;
}

.header {
    height: 100px; 
    text-align: center;
}

@media (max-width: 1000px) {
    .chatwrapper {
        width: 100%; 
    }
    .header {
        height: 50px;
    }
}

/*@media (max-width: 400px) {
    . {
        width: 100%; 
    }
    . {
        height: 50px;
    }
}*/

.interface {
    width: 100%;
    height: 200px;
}

.rules {
    padding-left: 15px;
    display: flow-root;
}

.registered-username {
    color: blue;
}

.priveleged-username {
    color: #f9a602;
}

.my-username {
    color: red;
}

.not-registered-username {
    color: gray;
}

.date {
    color: gray;
}

.message {
    padding-left: 10px;
}

.chat-center {
    text-align: center;
}

.username-field {
    width: auto; 
    background-color: #f3f8ff; 
    border: 1px solid gray
}

.message-area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100px; 
    width: 100%; 
    margin: 15px 0px; 
    background-color: #f3f8ff;
    padding: 0px;
    resize: none;
}

.send-button {
    float: right;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #f3f8ff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .new-messages {
      float: right;
  }

  .message-delete {
      cursor: pointer;
  }

  .danger {
      color: red;
  }

  .logout {
      display: none;
  }
  
  .margin-v-15px {
      margin: 15px 0px;
  }